a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.frame-23,
.frame-23 * {
  box-sizing: border-box;
}
.frame-23 {
  background: #ededed;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.frame-60 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 0.5px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 78px;
  position: relative;
  overflow: hidden;
}
.frame-830 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 365px;
  top: 25px;
}
.frame-1 {
  padding: 2px 20px 2px 20px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.beranda {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-sm-lineheight-5-font-normal-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--text-sm-lineheight-5-font-normal-font-size, 14px);
  line-height: var(--text-sm-lineheight-5-font-normal-line-height, 20px);
  font-weight: var(--text-sm-lineheight-5-font-normal-font-weight, 400);
  position: relative;
}
.frame-2 {
  padding: 2px 20px 2px 20px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.trend {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-sm-lineheight-5-font-normal-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--text-sm-lineheight-5-font-normal-font-size, 14px);
  line-height: var(--text-sm-lineheight-5-font-normal-line-height, 20px);
  font-weight: var(--text-sm-lineheight-5-font-normal-font-weight, 400);
  position: relative;
}
.frame-3 {
  padding: 2px 20px 2px 20px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: var(--black, #000000);
  text-align: left;
  font-family: var(
    --text-sm-lineheight-5-font-normal-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--text-sm-lineheight-5-font-normal-font-size, 14px);
  line-height: var(--text-sm-lineheight-5-font-normal-line-height, 20px);
  font-weight: var(--text-sm-lineheight-5-font-normal-font-weight, 400);
  position: relative;
}
.frame-54 {
  background: var(--color3, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--default-black, #000000);
  border-width: 1px;
  padding: 4px 24px 4px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1766px;
  top: 25px;
  overflow: hidden;
}
.masuk {
  color: var(--gray-900, #212529);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.frame-10 {
  background: var(--color2, #ffffff);
  align-self: stretch;
  flex-shrink: 0;
  height: 852px;
  position: relative;
  overflow: hidden;
}
.velora {
  color: var(--color1, #162d23);
  text-align: left;
  font-family: "AlegreyaSc-Regular", sans-serif;
  font-size: 142px;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: 130.99px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-nunc-ornare-tellus-in-arcu-sagittis-non-et-amet-suspendisse-phasellus-eu-turpis-nibh-dolor-aliquet-non-id-pharetra-consectetur-ut-diam-sollicitudin-tincidunt-ut-sed-cras-sed-in-amet-nibh-sed-aenean-molestie-sed {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: 470px;
  width: 751px;
}
.img-4303-1 {
  width: 1532.67px;
  height: 2299px;
  position: absolute;
  left: 774px;
  top: -567px;
  object-fit: cover;
  aspect-ratio: 1532.67/2299;
}
.frame-781 {
  background: var(--color1, #162d23);
  border-radius: 8px;
  padding: 0px 128.02px 0px 22.55px;
  display: flex;
  flex-direction: row;
  gap: 7.27px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 303px;
  overflow: hidden;
}
.stylish {
  color: var(--color2, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 100px;
  font-weight: 700;
  position: relative;
}
.frame-782 {
  background: #ffffff;
  border-radius: 4.62px;
  border-style: solid;
  border-color: var(--color1, #162d23);
  border-width: 4px;
  padding: 8px 68px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 3.85px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 632px;
  overflow: hidden;
}
.trend2 {
  color: var(--color1, #162d23);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 186px;
}
.frame-783 {
  background: var(--color1, #162d23);
  border-radius: 4.62px;
  border-style: solid;
  border-color: var(--color2, #ffffff);
  border-width: 4px;
  padding: 8px 68px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 3.85px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 390px;
  top: 632px;
  overflow: hidden;
}
.about2 {
  color: var(--color2, #ffffff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 186px;
}
.frame-762 {
  background: var(--color1, #162d23);
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
  overflow: hidden;
}
.frame-845 {
  width: 1920px;
  height: 943px;
  position: absolute;
  left: 0px;
  top: 46px;
  overflow: hidden;
}
.frame-847 {
  padding: 50px 140px 50px 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-844 {
  background: #ffffff;
  border-radius: 10.5px;
  border-style: solid;
  border-color: var(--color2, #ffffff);
  border-width: 14.01px;
  flex-shrink: 0;
  width: 653px;
  height: 736px;
  position: relative;
  overflow: hidden;
}
.img-2793 {
  border-radius: 8.34px;
  width: 683.64px;
  height: 1025.45px;
  position: absolute;
  left: -14.88px;
  top: -278.36px;
  object-fit: cover;
  aspect-ratio: 683.64/1025.45;
}
.img-2539 {
  width: 668.67px;
  height: 1003px;
  position: absolute;
  left: -15.67px;
  top: -256px;
  object-fit: cover;
  aspect-ratio: 668.67/1003;
}
.frame-848 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 857px;
  position: relative;
}
.about-velora {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.velora-merupakan-brand-fashion-wanita-yang-akan-segera-launch-pada-bulan-februari-yang-mendatang-velora-memiliki-visi-untuk-menjadi-brand-lokal-fashion-wanita-yang-memiliki-nuansa-mewah-serta-modern-dengan-membawa-aura-keindahan-yang-abadi-menggambarkan-wanita-anggun-berkelas-dan-berdampak-yang-seutuhnya-velora-menggabungkan-elemen-yang-lembut-namun-kuat-seperti-ve-yang-memberikan-kesan-segar-dan-cerah-dan-lora-yang-memberikan-rasa-keseimbangan-ketenangan-dan-kelembutan-nama-ini-bisa-menggambarkan-seseorang-yang-memiliki-kualitas-istimewa-baik-dari-segi-penampilan-perilaku-maupun-prestasi {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-842 {
  background: var(--color1, #162d23);
  align-self: stretch;
  flex-shrink: 0;
  height: 780px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.img-25392 {
  width: 1320px;
  height: 1980px;
  position: absolute;
  left: 753px;
  top: -730px;
  mix-blend-mode: soft-light;
  object-fit: cover;
  aspect-ratio: 1320/1980;
}
.img-27932 {
  border-radius: 13.54px;
  width: 1108.98px;
  height: 1663.47px;
  position: absolute;
  left: -90.18px;
  top: -488.9px;
  mix-blend-mode: soft-light;
  object-fit: cover;
  aspect-ratio: 1108.98/1663.47;
}
.frame-843 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 484px;
  position: absolute;
  left: 140px;
  top: 160px;
}
.buy-now {
  color: var(--color2, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 96px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.your-style {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 76.72992706298828px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  -webkit-text-stroke: 9.591240882873535px var(--color2, #ffffff);
}
.lorem-ipsum-dolor-sit-amet-consectetur-nunc-ornare-tellus-in-arcu-sagittis-non-et-amet-suspendisse-phasellus-eu-turpis-nibh-dolor-aliquet-non-id-pharetra-consectetur-ut-diam-sollicitudin-tincidunt-ut-sed-cras-sed-in-amet-nibh-sed-aenean-molestie-sed2 {
  color: var(--color2, #ffffff);
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 399px;
  width: 751px;
}
.frame-8442 {
  background: #ffffff;
  border-radius: 10.5px;
  border-style: solid;
  border-color: var(--color2, #ffffff);
  border-width: 14.01px;
  width: 653px;
  height: 519.07px;
  position: absolute;
  left: 1073px;
  top: 130px;
  overflow: hidden;
}
.frame-7832 {
  background: var(--color2, #ffffff);
  border-radius: 4.62px;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  gap: 3.85px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 140px;
  top: 545px;
  overflow: hidden;
}
.book-now {
  color: var(--color1, #162d23);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 186px;
}
.frame-846 {
  padding: 47px 193px 47px 193px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.choose-your-style {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-8422 {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1534px;
  height: 739px;
  position: relative;
}
.frame-838 {
  background: var(--color2, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color1, #162d23);
  border-width: 6px;
  flex-shrink: 0;
  width: 431px;
  height: 739px;
  position: relative;
  overflow: hidden;
}
.frame-831 {
  background: var(--color2, #ffffff);
  border-radius: 12px;
  width: 431px;
  height: 650px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.img-2504 {
  width: 493.33px;
  height: 740px;
  position: absolute;
  left: -26px;
  top: -45px;
  object-fit: cover;
  aspect-ratio: 493.33/740;
}
.frame-835 {
  background: var(--color1, #162d23);
  border-radius: 6px;
  padding: 3px 22px 3px 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 87px;
  top: 672px;
  overflow: hidden;
}
.candit-velora {
  color: var(--color2, #ffffff);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-839 {
  background: var(--color2, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color1, #162d23);
  border-width: 6px;
  flex-shrink: 0;
  width: 431px;
  height: 739px;
  position: relative;
  overflow: hidden;
}
.img-2757 {
  width: 562.67px;
  height: 844px;
  position: absolute;
  left: -86px;
  top: -105px;
  object-fit: cover;
  aspect-ratio: 562.67/844;
}
.couple-velora {
  color: var(--color2, #ffffff);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-840 {
  background: var(--color2, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color1, #162d23);
  border-width: 6px;
  flex-shrink: 0;
  width: 431px;
  height: 739px;
  position: relative;
  overflow: hidden;
}
.img-2319 {
  width: 475px;
  height: 712.5px;
  position: absolute;
  left: 0px;
  top: -18px;
  object-fit: cover;
  aspect-ratio: 475/712.5;
}
.nature-velora {
  color: var(--color2, #ffffff);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-12 {
  background: var(--color1, #162d23);
  align-self: stretch;
  flex-shrink: 0;
  height: 316px;
  position: relative;
  overflow: hidden;
}
.iconsax-bold-messenger {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1300px;
  top: 175px;
  overflow: hidden;
}
.frame-829 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1661px;
  position: absolute;
  left: 103px;
  top: 50px;
}
.frame-828 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 585px;
  position: relative;
}
.frame-780 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.tentang-kami-lorem-ipsum-dolor-sit-amet-consectetur-convallis-mauris-quisque-lacus-pharetra-ullamcorper-quam {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.tentang-kami-lorem-ipsum-dolor-sit-amet-consectetur-convallis-mauris-quisque-lacus-pharetra-ullamcorper-quam-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.tentang-kami-lorem-ipsum-dolor-sit-amet-consectetur-convallis-mauris-quisque-lacus-pharetra-ullamcorper-quam-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 21.48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 504px;
  position: relative;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  gap: 10.74px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.iconsax-bold-whatsapp {
  flex-shrink: 0;
  width: 26.86px;
  height: 26.86px;
  position: relative;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 10.74px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.iconsax-bold-instagram {
  flex-shrink: 0;
  width: 26.86px;
  height: 26.86px;
  position: relative;
  overflow: visible;
}
.frame-48 {
  display: flex;
  flex-direction: row;
  gap: 10.74px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ic-baseline-email {
  flex-shrink: 0;
  width: 26.86px;
  height: 26.86px;
  position: relative;
  overflow: visible;
}
.frame-49 {
  display: flex;
  flex-direction: row;
  gap: 10.74px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mdi-address-marker {
  flex-shrink: 0;
  width: 26.86px;
  height: 26.86px;
  position: relative;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 464.61px;
}
.frame-7802 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: absolute;
  left: 90px;
  top: 16px;
  overflow: visible;
}
